---
layout: page
title: Культура отношений
title_id: Culture
type: page
---
<h3>Тест на взаимность</h3>
{% include vid.html id="neRaIygn4lc" %}
<p>Редко, кто то из близких людей намерено унижает или оскорбляет достоинство друг друга. Как правило, мы просто не знаем,не интересуемся, какие именно потребности особенно важны для наших родных, близких и тем более просто попутчиков.
Важно научиться находить взаимопонимание друг с другом, и именно для этого я создала видео курс «Культура отношений». В первом видео уроке мы рассмотрим моменты, на которые стоит обратить внимание, чтобы не потерять доверие близких людей, а также  научиться понимать прежде всего самого себя, свои потребности и потребности других людей в отношениях.</p>

<a href="https://docs.google.com/spreadsheets/d/1YijzVvsHeag3_rLpJRL8B6m4pjjgCiI32hNlq0AKZfQ/edit?usp=sharing">Практические упражнения</a>

<h3>Ожидания и реальность</h3>
{% include vid.html id="RdIrE3GLTeU" %}
<p>В этом видео уроке вы узнаете как освободить свое сознание от завышенных ожиданий относительно поведения партнера и не попадать в зависимость от других людей.</p>

<h3>Резюме</h3>
{% include vid.html id="Fa-GTrcuHsA" %}
<p>Жизнь не стоит на месте, меняемся мы, меняются люди вокруг нас, меняются наши жизненные обстоятельства.  С кем то мы знакомимся и сближаемся, а с кем то отдаляемся и расстаемся.
Иногда смена ролей в отношениях может вызывать недопонимание, разочарование, обиду и другие чувства и эмоции.
Я предлагаю практическое упражнение «Резюме», чтобы понимать какой партнер вам подойдет для отношений в той или иной роли.</p>
