---
layout: page
---
{% include vid.html id="l5g3USBBkBU" %}

<h3>Индивидуальная сессия</h3>
{% include vid.html id="GPbu3BJ_Lzw" %}


<p>Тематические индивидуальные сессии:</p>
<p>"Найти и обезвредить" - освобождение от программ и установок, мешающих вам реализовывать ваши мечты и желания.</p>
<p>"Исцеление внутреннего конфликта" - на этой сессии мы находим компромисс между вашими желаниями и возможностями, что способствует обретению целостности.</p>
<p>"Освобождение от привязанности" - избавляемся от привязанностей и привычек, которые тормозят ваше развитие и вызывают дискомфорт. </p>
<p>"Собирание личного ресурса" - собираем личный ресурс - разбросанное внимание-энергию и направляем его на актуальные для вас здесь и сейчас процессы.</p>
<p>"Хочу стать мамой" - подготовка сознания к материнству, освобождение подсознания от некорректных родовых программ, страхов, связанных с беременностью, родами и материнством, а также от навязанных стереотипов о том как быть хорошей женой и мамой.</p>
<p>+ По запросу порекомендую техники йоготерапии, медитацивные практики, которые вы можете использовать дома для повышения эффективности ваших процессов.</p>

<p>Стоимость 2000<i class="fa fa-rub" aria-hidden="true"></i></p>
<p>Продолжительность 1 час. Консультацию провожу лично или удаленно</p>

<h3>«Ключ к себе» программа личностной трансформации</h3>

{% include vid.html id="MKPhWLZ9TM0" %}
<p> Цель программы - помочь людям обрести внутренний авторитет.</p>
<p>Три видео урока с практическими заданиями:</p>
<ul>
    <li>"В чем моя сила?"</li>
    <li>"Что для меня важно?"</li>
    <li>"Какова моя зона ответственности?"</li>
</ul>
<p>Эта программа содержит личный опыт и практические инструменты, которые призваны помочь вам услышать свои желания, осознать свои возможности, сильные и слабые стороны, структурировать свой опыт и навыки. Вы сможете стать себе лучшим другом и наставником : научиться доверять себе, видеть оптимальные направления для своего развития и реализации, выстраивать гармоничные отношения с собой и окружающими.</p>
<p>Стоимость:</p>
<ul>
<li>"Эконом" - 3 видео урока с практическими заданиями - 2500<i class="fa fa-rub" aria-hidden="true"></i> - вариант для самых осознанных, полностью самостоятельная работа над собой по предложенной методике.</li>
<li>"Стандарт" - 3 видео урока с практическими заданиями, проверка корректности выполнения заданий, ответы на общие вопросы по курсу - 5000<i class="fa fa-rub" aria-hidden="true"></i></li>
<li>"Стандарт плюс" - программа "стандарт", плюс on-line поддержка - индивидуальное сопровождение, личный чат с автором методики, разбор ваших конкретных ситуаций, совместный поиск решений- 10000<i class="fa fa-rub" aria-hidden="true"></i></li>
</ul>
<p>Прекрасным дополнением к программе «Ключ к себе» являются видео курсы <a href="{{ site.baseurl }}/culture.html">"Культура отношений"</a> и <a href="{{ site.baseurl }}/safety.html">«ОБЖ для взрослых»</a>, которые доступны абсолютно бесплатно</p>

<h3>Йога с партнёром</h3>
<img src="{{ site.baseurl }}/assets/photo_l.jpg" class="pict"/>
<p>"Новичок в йоге" - занятие для тех, кто никогда не практиковал, или имеет мало опыта. Парные растяжки, постановка базовых асан, освоение дыхательных техник. </p>
<p>"Парная йога в потоке"  - занятие для продвинутых пользователей, раскрываем чувственность и силу, развиваем гибкость и баланс</p>
<p>Стоимость 1000<i class="fa fa-rub" aria-hidden="true"></i></p>
<p>Продолжительность 1 час.</p>

<h3>Массаж</h3>
<img src="{{ site.baseurl }}/assets/photo_m.jpg" class="pict"/>
<p>Массаж - прекрасный способ расслабиться, развить чувственность, получить заряд энергии и положительные эмоции. Предлагаю расслабляющий массаж всего тела с ароматическими маслами на ваш вкус</p>
<p>Стоимость 1000<i class="fa fa-rub" aria-hidden="true"></i></p>
<p>Продолжительность 1 час.</p>
