---
layout: page
---
<h3>Екатерина Изюменко - консультант личностной трансформации</h3>
{% include vid.html id="l5g3USBBkBU" %}
<p>Как тело храм нашей души, так и личность -  это дом для нашего духа, та совокупность ограничений, которая помогает нам выражаться в этом мире.</p>
<p>Да, да, вы не ослышались, ограничения могут быть не только клеткой, но и опорой, способствовать самовыражению.
Благодаря нашим осознанным ограничениям - ценностям, жизненным ориентирам,
вкусам и пристрастиям, мы можем фокусировать свое внимание на определенных аспектах жизни и в них достигать успеха.</p>
<p>Актуальная проблема современного общества - отсутствие личных границ, следствием чего является перегруженность нашего ментального поля различными установками.</p>
<p>Представьте, что вы пускаете в свою квартиру всех, кого попало, и разрешаете там делать перестановку и ремонт, оставлять в вашей квартире свой мусор.

То же самое происходит, когда мы позволяем посторонним людям судить что для нас хорошо, а что плохо, сливать свой негатив в наше пространство и навязывать свои стереотипы мышления.</p>
<p>Именно таким образом и появляются лишние ограничения, не свойственные нашей натуре, которые нам мешают.
И от такого рода ограничений я могу помочь вам избавиться.</p>


<h3>Индивидуальная сессия</h3>
{% include vid.html id="GPbu3BJ_Lzw" %}


<p>Тематические индивидуальные сессии:</p>
<p>"Диагностическая консультация" - если вы чувствуете, что вас не устраивает ваше эмоциональное, писхологиеческое состояния, хотите развиваться, но не знаете в чем именно проблема и с чего начать - эта консультация для вас. </p>
<p>"Найти и обезвредить" - освобождение от программ и установок, мешающих вам реализовывать ваши мечты и желания.</p>
<p>"Исцеление внутреннего конфликта" - на этой сессии мы находим компромисс между вашими желаниями и возможностями, что способствует обретению целостности.</p>
<p>"Освобождение от привязанности" - избавляемся от привязанностей и привычек, которые тормозят ваше развитие и вызывают дискомфорт. </p>
<p>"Собирание личного ресурса" - собираем личный ресурс - разбросанное внимание-энергию и направляем его на актуальные для вас здесь и сейчас процессы.</p>
<p>"Хочу стать мамой" - подготовка сознания к материнству, освобождение подсознания от некорректных родовых программ, страхов, связанных с беременностью, родами и материнством, а также от навязанных стереотипов о том как быть хорошей женой и мамой.</p>

<p>Стоимость 2000<i class="fa fa-rub" aria-hidden="true"></i></p>
<p>Продолжительность 1 час. Консультацию провожу лично или удаленно</p>
<p> В стоимость консультации входях рекомендации по практике йоги, которые вы можете использовать дома для повышения эффективности ваших процессов, а также 21 день удаленной поддержки.</p>


<h3>«Ключ к себе» программа личностной трансформации</h3>

{% include vid.html id="MKPhWLZ9TM0" %}
<p> Цель программы - помочь людям обрести внутренний авторитет.</p>
<p>Три видео урока с практическими заданиями:</p>
<ul>
    <li>"В чем моя сила?"</li>
    <li>"Что для меня важно?"</li>
    <li>"Какова моя зона ответственности?"</li>
</ul>
<p>Эта программа содержит личный опыт и практические инструменты, которые призваны помочь вам услышать свои желания, осознать свои возможности, сильные и слабые стороны, структурировать свой опыт и навыки. Вы сможете стать себе лучшим другом и наставником : научиться доверять себе, видеть оптимальные направления для своего развития и реализации, выстраивать гармоничные отношения с собой и окружающими.</p>

<p>Стоимость:</p>
<ul>

<li>"Стандарт"  - 3 видео урока с практическими заданиями, ответы на вопросы по курсу в общей группе в контакте -  3000<i class="fa fa-rub" aria-hidden="true"></i></li>
<li>"Стандарт + on-line поддержка" - программа "стандарт" + личный чат с автором методики + 2 удаленные консультации в начале и после окончания программы.
Стоимость 8000<i class="fa fa-rub" aria-hidden="true"></i></li>
</ul>

<p>Продолжительность одного урока 40-45 минут, вы можете проходить программу с комфортной для вас скоростью,  в среднем 1 урок в 7-10 дней.

  Прекрасным дополнением к программе «Ключ к себе» являются видео курсы  "Культура отношений" и "ОБЖ для взрослых", доступные в разделе <a href="{{ site.baseurl }}/culture.html">"Видео курсы"</a>

<h3>Йога с партнёром</h3>
<img src="{{ site.baseurl }}/assets/photo_l.jpg" class="pict"/>
<p>У многих людей, кто изучает философию йоги, складывается впечатление, что она призывает к разрушению всех границ,
к тотальному растворению и единению с абсолютом. </p>
<p>Я часто слышу от клиентов, знакомых, я боюсь, вдруг эта йога сделает со мной что то не то, я не хочу становиться овощем, я не хочу терять себя. </p>
<p>Но в практике йоги, как и в любом другом аспекте нашей жизни, многое зависит от вашей внутренней мотивации, какие задачи вы перед собой ставите.
И целями в практике йоги может быть не только соединение с абсолютом, йога может помочь вам улучшить здоровье,
развить в себе полезные навыки, стереть из подсознания те стратегии поведения, которые работают вам во вред, исцелить психологические травмы.  </p>

<p>Предлагаю индивидуальные занятия йогой под ваши задачи. </p>

<p>Стоимость 1000<i class="fa fa-rub" aria-hidden="true"> за 1 час</i></p>

 <p> Видео уроки по йоге для самостоятельных занятий вы можете найти в разделе <a href="{{ site.baseurl }}/therapy.html">"Йога дома"</a> </p>
