---
layout: page
title: Медитации для женщин
title_id: Meditation
type: page
---
<h3>Медитация внутреннего света</h3>
{% include vid.html id="vUcTvMLSrEY" %}
<p>Эта медитация помогает погрузиться в состояние любви и света. Почувствовать себя сначала источником, а затем и принимающим пространством любви.</p>

<h3>Медитация взросления женщины</h3>
{% include vid.html id="rjEOukX6Q9E" %}
<p>Медитация помогает глубоко осознать и прожить процесс выхода женщины из поля матери. Она будет вам полезна, если вы чувствуете, что живете установками мамы, постоянно оглядываетесь на ее мнение или наоборот, действуете от противного, только бы не повторить опыт матери, не быть на нее похожей. Помогает принять женскую энергию рода, прожить эмоции связанные с отношениями с мамой в детстве, и разрешить себе вступить в свою собственную взрослую жизнь. Медитация способствует раскрытию сердечного центра.</p>

<h3>Медитация соединения с мужской энергией</h3>
{% include vid.html id="t1lvMqteJcQ" %}
<p>Медитация помогает преодолеть чувство незащищенности, соединиться с мужской энергией рода,  восстановить внутреннюю опору и ощутить любовь и принятие внешнего пространства по отношению к себе.
