---
layout: page
title: ОБЖ для взрослых
title_id: Safety
type: page
---
<h3>Жизнь в потоке</h3> {% include vid.html id="zh9xrB8Acd0" %}
<p>Тема этого видео урока - "Жизнь в потоке". В потоке чего? В потоке творческого поиска и реализации. Творческая реализация может пронизывать всю вашу жизнь, начиная от профессиональной реализации, хобби, и, заканчивая, воспитанием детей и развитием собственной личности. Для того чтобы это был действительно поток, творческий поиск, я предлагаю методику, позволяющую задать намерение максимально объемно, а затем с помощью семи вопросов уточнить более конкретно тактику поведения для его успешной реализации.</p>

<h3>Реализация и трансформация</h3> {% include vid.html id="RGbU5uytkL4" %}
<p> Одну и ту же мечту, идею можно реализовать разными способами. Моя задача в этом видео курсе,  дать вам инструменты для осуществления оптимального выбора на каждом из этапов ваших жизненных процессов — целеполагания, планирования, реализации, потребления и трансформации.
Курс "ОБЖ для взрослых" поможет вам избежать ненужных метаний и разбрасывания своей энергии впустую.</p>

<a href="https://docs.google.com/spreadsheets/d/16ZQJdLOBCf9PGnJ-N7sEHusqUDr3G8F1WVZmFtrAWDQ/edit?usp=sharing">Практические упражнения</a>
