---
layout: page
title: Йога дома
title_id: Therapy
type: page
---
{% include vid.html id="JiFmOfeFcic" %}

<p>Вступай в группу <a href="https://vk.com/yogahomestart">"Йога дома- на старт"</a></p>

<h3>Как избавиться от  зависимости</h3>
{% include vid.html id="jjxqO66sONM" %}
<p>Медитация помогает справиться с физиологическими зависимостями: алкогольной, наркотической, а также курением и перееданием. Кроме того, практика работает с подсознательными зависимостями, которые приводят к навязчивым страхам, невротическому поведению, чувству незащищенности и пагубным привязанностям.</p>

<h3>Медитация для фокуса и ясности</h3>
{% include vid.html id="JNHWv84OFgo" %}
<p>Практика помогает человеку ясно видеть свои цели и задачи и сфокусироваться на их реализации. Убирает посторонние мысли, очищает подсознание от страхов и других деструктивных программ, притягивающих ненужные мысли в ваш поток сознания. Эта медитация поможет будет вам полезна, если вы не можете сосредоточиться на действительно важных для вас вещах, вас беспокоят страхи и навязчивые мысли, вы не можете отделить свои желания от навязанных извне.</p>

<h3>Медитация очищения женской ауры</h3>
{% include vid.html id="KvaMmvaYfTI" %}
<p>Практика позволяет женщине избавится от ненужных переживаний о прошлых отношениях, помогает удалить чужие энергии из поля женщины. Эту медитацию особенно полезно выполнять перед зачатием ребенка, после разрыва отношений, перед стартом нового творческого проекта, а также  в период кризиса развития личности, когда необходима перезагрузка.</p>

<h3>Медитация преодоления внутренней вражды</h3>
{% include vid.html id="iwgh2Cp1zsg" %}
<p>Медитация помогает преодолеть состояние внутреннего конфликта,  прийти к целостности и обрести постоянную опору внутри себя, а также раскрыть и реализовать свои способности во внешнем мире на всеобщее благо. Практику рекомендуется выполнять если вас часто мучают сомнения, вы регулярно сталкиваетесь с сопротивлением окружающих вашим решениям, постоянно ищите одобрения со стороны, не можете реализовать свой потенциал.</p>

<h3>Как избавиться от ненужных мыслей</h3>
{% include vid.html id="SAc-9SYgzZs" %}
<p>Медитация помогает избавиться от преследующих нас негативных мыслей. Как только мы избавляемся от этих мыслей, появляются место для позитивных мыслей формирующих нашу реальность.</p>

<h3>Медитация исцеления физического, ментального и духовного тел</h3>
{% include vid.html id="ac8Eft8CMQE" %}
<p>Это очень глубокое самоочищение, одна из самых сильных практик в йоге. На уровне физического тела практика помогает вывести токсины из организма, освободиться от боли и усталости, восстановить работу внутренних органов и нервной системы. На более тонких планах практика помогает развить интуицию, научиться контролировать эмоции, избавиться от ментального мусора, усилить ваш магнетизм и внутреннее сияние.</p>

<h3>Как убрать эго из отношений</h3>
{% include vid.html id="O_rlFD8N_3Q" %}
<p>Медитация помогает временно отодвинуть эго - структуру личности, на которой держатся все наши не прожитые эмоции, обиды, страхи и разочарования. Таким образом, вы сможете взглянуть на ситуацию в отношениях со стороны именно в тот момент, когда вам это необходимо, и принять взвешенное решение, продиктованное разумом, а не эмоциями.</p>

<p>Еще больше практик на канале <a href="https://www.youtube.com/channel/UC3VcntABmXibzOXWUvYg7Wg">"Школа осознанности, любви и здоровья"</a></p>
