<footer class="site-footer">

<i class="fa fa-vk" aria-hidden="true"></i> <a href="https://vk.com/clubamazingwoman">Изумительная женщина</a>
<i class="fa fa-youtube-play" aria-hidden="true"></i> <a href="https://www.youtube.com/channel/UC3VcntABmXibzOXWUvYg7Wg">Школа осознанности, любви и здоровья</a>
<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto://izumenko@inbox.ru">izumenko@inbox.ru</a>

</footer>

<script>
    function externalLinks() {
    for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
      var b = c[a];
      b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
    }
  }
  ;
  externalLinks();
</script>
